@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
}
